<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
   <h1>Welcome!</h1>

   <h3>Register</h3>
   <div>
   <form action="/register" method="POST">
   		Name: <input type="text" name="name" ><br>		
   		Aliad: <input type="text" name="aliad" ><br>
   		Email: <input type="email" name="email" ><br>
   		Password: <input type="password" name="password" ><br>
   		<p>*Password should be at least 8 characters</p><br>
   		Confirm PW: <input type="password" name="comfirm_pw" ><br>
   		Date of Birth: <input type="date" name="bday" ><br>
   		<br>
   		<input type="submit" value="Register">
   </form>
   </div>
   		{% if errors %}
   		{% for error in errors %}
   			<p style="color: red;">{{ error }}</p>
   		{% endfor %}
   		{% endif %}
    <h3>Login</h3>
   <div>
   <form action="/login" method="POST">
  
   	Email: <input type="email" name="email" ><br>
   	Password: <input type="password" name="password" ><br>
   	
   		<br>
   		<input type="submit" value="Login">
   </form>
   </div>
  </body>
</html>
